input {
  border: none;
  margin-right: 50px;
  font-size: 26px;
  border-style: none;
  border-top-color: transparent;
  width: 82px;
  color: black;
  appearance: none;
}

/* Remove border on active/focused input */
input:focus {
  outline: none;
  appearance: none;
}

/* Chrome/Safari */
input::-moz-focus-inner {
  border: 0;
  appearance: none;

}

/* Firefox */
input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
  appearance: none;

}
